<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/app.css" type="text/css" />
  </head>
  <body>
    <div class='notfound'>
      <p class="pnot">not found</p>
    </div>
      <div class="title">
          <h1 class="heading">Weather Place</h1>
      </div>
      <div class="content">

        <div class="i">
            <i class="fas fa-search"></i>
        </div>
  
          
      <div class="inside">    
          <input class="input" type="text"></input>
          <div class="button"><p><strong>Enter</strong></p></div>
      </div>

      <div class="weather">
        <div class="info">
          <i id="ss" class="fas fa-sun"></i>
          <p class="weather_descriptions"></p>
          <div class="after">
            <i id="play"class="fas fa-play"></i>

          </div>
          

        </div>
        <div class="data">
          <div class="left">
            <i class="fas fa-map-marker-alt"></i>
            <i class="fas fa-temperature-low"></i>
      
            <i class="fas fa-clock"></i>

          </div>
          <div class="right">
            <p class="city"></p>
       
            <p><span class="temperature"></span><span>&#8451;</span></p>
           
            <p class="time"></p>

          </div>

      
         
      
         
       
        </div>

      </div>

    </div>
   
<script src="/styles/app.js" type="text/javascript"></script>
  </body>
</html>
